/*
* Master design system css files.

* Contains base reset selectors and imports base
* design tokens. Also contains some util scss methods
* for further styling
*/

// Import design tokens
@import 'design-system-utils.scss';

// Import theme and colour scale
@import 'theme-colors.scss';

// Hide default scroll bar
::-webkit-scrollbar {
    display: none;
}

// Remove default styling
* {
    -webkit-font-smoothing: antialiased;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    font: inherit;

    vertical-align: baseline;
}

// Make sure bounding boxes work
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Anchor text reset
a {
    color: black;
}

// Style root node and set base font size
html {
    overflow-x: hidden;
    pointer-events: all;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;

    // Default XL font size
    font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width: 1920px) {
    html {
        font-size: calc(0.625rem + 0.41666666666666674vw);
    }
}
@media screen and (max-width: 1440px) {
    html {
        font-size: calc(-0.12500000000000022rem + 1.2500000000000002vw);
    }
}
@media screen and (max-width: 1280px) {
    html {
        font-size: calc(0.44444444444444453rem + 0.6944444444444443vw);
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: calc(0.4655172413793104rem + 0.8620689655172413vw);
    }
}
@media screen and (max-width: 760px) {
    html {
        font-size: calc(0.6607142857142857rem + 0.7142857142857143vw);
    }
}
@media screen and (max-width: 480px) {
    html {
        font-size: calc(0.7494780793319415rem + 0.8350730688935282vw);
    }
}

body {
    // Make sure no horizontal scroll
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;

    // JS hack set height to visible viewport (fixes mobile)
    height: 100%;
    min-height: var(--vh);

    // Default colours
    background-color: var(--color-bg);
    color: var(--color-text-primary);

    // Default font
    font-family: $font-1;
}
