// Import colour scale
@import 'color-scale.scss';

/*
* Defines the colour variables to be used throughout components.
*
* Naming Convention:
* - Make variable name clear, you should know what it's used for just from the name
* - Variable must start with 'color-'. So 'color-bg', or 'color-primary'.
* - 
*/

// Default (light theme)
:root {
    // GENERAL COLOUR PALLETE

    // Colors of background
    --color-bg: var(--gray100);

    // Colour pallete primary colours (for backgrounds)
    --color-bg-primary: var(--primary500);
    --color-bg-secondary: var(--secondary500);
    --color-bg-tertiary: var(--tertiary500);
    --color-bg-success: var(--success500);
    --color-bg-warning: var(--warning500);
    --color-bg-error: var(--error500);

    // Primary text color
    --color-text-primary: var(--black);
    --color-text-secondary: var(--secondary500);
    --color-text-tertiary: var(--tertiary500);
    --color-text-success: var(--success500);
    --color-text-warning: var(--warning500);
    --color-text-error: var(--error500);

    // Default background elevation
    --color-elevation-1: var(--neutral100);
    --color-elevation-2: var(--neutral200);
    --color-elevation-3: var(--neutral300);
    --color-elevation-4: var(--neutral400);

    // Primary colours elevation
    --color-elevation-primary-1: var(--primary100);
    --color-elevation-primary-2: var(--primary200);
    --color-elevation-primary-3: var(--primary300);
    --color-elevation-primary-4: var(--primary400);

    --color-elevation-secondary-1: var(--secondary100);
    --color-elevation-secondary-2: var(--secondary200);
    --color-elevation-secondary-3: var(--secondary300);
    --color-elevation-secondary-4: var(--secondary400);

    --color-elevation-tertiary-1: var(--tertiary100);
    --color-elevation-tertiary-2: var(--tertiary200);
    --color-elevation-tertiary-3: var(--tertiary300);
    --color-elevation-tertiary-4: var(--tertiary400);

    --color-elevation-success-1: var(--success100);
    --color-elevation-success-2: var(--success200);
    --color-elevation-success-3: var(--success300);
    --color-elevation-success-4: var(--success400);

    --color-elevation-warning-1: var(--warning100);
    --color-elevation-warning-2: var(--warning200);
    --color-elevation-warning-3: var(--warning300);
    --color-elevation-warning-4: var(--warning400);

    --color-elevation-error-1: var(--error100);
    --color-elevation-error-2: var(--error200);
    --color-elevation-error-3: var(--error300);
    --color-elevation-error-4: var(--error400);

    // MORE SPECIFIC COLOUR PALLETE

    // Primary button colour
    --color-button-primary: var(--color-bg-primary);
    --color-button-primary-hover: var(--color-elevation-primary-4);
    --color-button-primary-text: var(--white);

    // Secondary button colour
    --color-button-secondary: var(--color-elevation-primary-1);
    --color-button-secondary-hover: var(--color-elevation-primary-2);
    --color-button-secondary-text: var(--primary500);

    // Tertiary button colour
    --color-button-tertiary: var(--color-bg);
    --color-button-tertiary-hover: var(--color-elevation-1);
    --color-button-tertiary-text: var(--neutral900);
    --color-button-tertiary-border: var(--neutral200);

    // Icon button
    --color-button-icon: var(--neutral800);
    --color-button-icon-border: var(--neutral200);
    --color-button-icon-border-hover: var(--neutral300);

    --color-button-disabled-bg: var(--neutral100);
    --color-button-disabled-text: var(--neutral600);

    // Check input
    --color-checkbox-border: var(--neutral300);
    --color-checkbox-active-bg: var(--primary600);
    --color-checkbox-active-border: var(--primary600);
    --color-checkbox-disabled-bg: var(--neutral200);
    --color-checkbox-disabled-border: var(--neutral300);
    --color-checkbox-disabled-check: var(--neutral600);
    --color-checkbox-focus-border: var(--primary300);
    --color-checkbox-check: var(--white);

    // All text fields
    --color-textfield-border: var(--gray300);
    --color-textfield-text: var(--neutral900);
    --color-textfield-placeholder: var(--gray600);
    --color-textfield-focus-border: var(--primary600);
    --color-textfield-disabled-bg: var(--neutral100);
    --color-textfield-disabled-text: var(--neutral600);
    --color-textfield-disabled-placeholder: var(--neutral600);
    --color-textfield-error-border: var(--error500);
    --color-textfield-error-focus-border: var(--error700);

    // General modal colours
    --color-modal-body-bg: var(--white);
    --color-modal-body-scroll-bg: var(--neutral200);
    --color-modal-body-scroll-hover-bg: var(--neutral100);

    --color-modal-footer-bg: var(--neutral100);
    --color-modal-footer-border: var(--gray100);

    --color-modal-header-bg: var(--neutral100);
    --color-modal-header-border: var(--gray100);
}

// Dark mode
[data-theme='dark'] {
    --color-bg: var(--black);

    --color-text-primary: var(--white);
}
