@mixin variantStyle($variant) {
    background-color: var(--color-elevation-#{$variant + '-2'});
    color: var(--color-text-#{$variant});
}

.badge {
    text-transform: uppercase;
    @include button-text;

    width: fit-content;
    border-radius: $border-radius-sm;

    &-default {
        background-color: var(--color-elevation-2);
        color: var(--color-text-primary);
    }

    &-primary {
        background-color: var(--color-elevation-primary-2);
        color: var(--color-bg-primary);
    }

    &-secondary {
        @include variantStyle('secondary');
    }

    &-info {
        @include variantStyle('info');
    }

    &-success {
        @include variantStyle('success');
    }

    &-warning {
        @include variantStyle('warning');
    }

    &-error {
        @include variantStyle('error');
    }
}
