name: publish
on:
    # When Release Pull Request is merged
    pull_request:
        branches:
            - main
        types: [closed]
    workflow_dispatch:

permissions:
    contents: write # for checkout and tag
    pull-requests: write # for comments
    packages: write # for publish

jobs:
    publish-npm:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  registry-url: https://registry.npmjs.org/
            - name: Git Identity
              run: |
                  git config --global user.name 'IlluzionzDev'
                  git config --global user.email 'IlluzionzDev@users.noreply.github.com'
                  git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/$GITHUB_REPOSITORY
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
            - name: Install
              run: npm ci
            - name: Test
              run: npm run test
            - name: Publish
              run: npm run pub
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
