name: pull-request
on:
    # When Release Pull Request is merged
    pull_request:
        branches:
            - main
        types: [opened, reopened, edited]

permissions:
    contents: write # for checkout and tag
    pull-requests: write # for comments

jobs:
    publish-npm:
        name: Publish
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  registry-url: https://registry.npmjs.org/
            - name: Install
              run: npm ci
            - name: Test
              run: npm run test
            - name: Build
              run: npm run build
